/*

   BACKGROUND SIZE
   Docs: http://tachyons.io/docs/themes/background-size/

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/*
  Often used in combination with background image set as an inline style
  on an html element.
*/

  .cover { background-size: cover!important; }
  .contain { background-size: contain!important; }

@media screen and (min-width: 20em) {
  .cover-ns { background-size: cover!important; }
  .contain-ns { background-size: contain!important; }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .cover-m { background-size: cover!important; }
  .contain-m { background-size: contain!important; }
}

@media screen and (min-width: 60em) {
  .cover-l { background-size: cover!important; }
  .contain-l { background-size: contain!important; }
}
