.u-fg--primary {
  color: $primary-color;
}

.u-p--hero {
  color: #505050;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: .5px;
}

.u-align-right {
  text-align: right;
}

.u-align-center {
  text-align: center;
}
